/.idea/dataSources/d24f3631-70d2-4cc6-b54b-b74348069948/storage_v2/_src_/schema/main.uQUzAA.meta
/.idea/dataSources/d24f3631-70d2-4cc6-b54b-b74348069948.xml
/.idea/Angular-Template.iml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/data_source_mapping.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/modules.xml
/.idea/vcs.xml
