<!-- register.component.html -->
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>
    E-Mail:
    <input formControlName="email" type="email"/>
  </label>
  <div *ngIf="form.controls.email.invalid && form.controls.email.touched">
    E-Mail ist ungültig.
  </div>

  <label>
    Passwort:
    <input formControlName="password" type="password"/>
  </label>
  <div *ngIf="form.controls.password.invalid && form.controls.password.touched">
    Passwort muss mindestens 6 Zeichen haben.
  </div>

  <button type="submit" [disabled]="form.invalid">Registrieren</button>
</form>
