@use "fx-button";
@use "tailwindcss";
@use "primeicons/primeicons.css";

@plugin "tailwindcss-primeui";

@layer components {
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-extrabold leading-tight tracking-tight text-gray-900 dark:text-gray-100 my-4;
  }

  h2 {
    @apply text-3xl sm:text-4xl md:text-5xl font-bold leading-snug tracking-tight text-gray-900 dark:text-gray-100 my-3;
  }

  h3 {
    @apply text-2xl sm:text-3xl md:text-4xl font-semibold leading-snug text-gray-900 dark:text-gray-100 my-3;
  }

  h4 {
    @apply text-xl sm:text-2xl md:text-3xl font-semibold leading-snug text-gray-900 dark:text-gray-100 my-2;
  }

  h5 {
    @apply text-lg sm:text-xl md:text-2xl font-medium leading-snug text-gray-900 dark:text-gray-100 my-2;
  }

  h6 {
    @apply text-base sm:text-lg md:text-xl font-medium leading-snug text-gray-800 dark:text-gray-100 my-2;
  }

  .heading-anchor {
    @apply inline-block ml-2 text-sm opacity-0 group-hover:opacity-100 transition-opacity;
  }
}

a.left, button.left {
  justify-content: flex-start !important;
}

.fab {
  position: fixed !important;
  right: 30px;
  bottom: 30px;
  z-index: 999;
}

.p-drawer-bottom {
  height: auto !important;
}

.p-dialog {
  margin: 15px;
}

.fx-button {
  .p-button {
    border: none;
    background: none !important;
  }

  .p-button:hover {
    border: none !important;
    background: none !important;
  }
}

.p-drawer-header {
  padding-top: 0 !important;
}

.p-button-success {
  color: #10b981 !important;
}

@media (prefers-color-scheme: dark) {
  .p-button-success {
    color: #10b981 !important;
  }
}
