.line-through {
  text-decoration: line-through;
}

input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
  accent-color: black; /* Tailwind blue-500 */
  border-radius: 0.3em;
  transition: box-shadow 0.2s;
}
input[type="checkbox"]:focus {
  border: 2px solid #d1d5db; /* Tailwind gray-300 */
  outline: none;
  box-shadow: none;
}
