<main>
  <h1>Anmeldung</h1>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="flex gap-5">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="" formControlName="email">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Passwort</mat-label>
        <input type="password" matInput placeholder="" formControlName="password">
      </mat-form-field>
    </div>
    <div>
      <button matButton="elevated" type="submit" [disabled]="!profileForm.valid">Submit</button>
    </div>
  </form>
</main>
