<div>
  <h5 class="uppercase" [innerText]="headline()"></h5>
  <ul class="flex gap-3 flex-col">
    <li class="text-xs text-gray-500" [innerText]="'Click on a user to see details'"></li>
    <li *ngFor="let user of users$">
      <button
        (click)="onClickUser(user)"
        class="flex w-full rounded-full p-1 gap-4 items-center bg-[#5437f7] hover:bg-[#7f22fe]">
        <img class="rounded-full" alt="avatar" width="35px" [src]="user.img"/>
        <span [innerText]="user.name"></span>
      </button>
    </li>
  </ul>
</div>
